*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-variation-settings: "wght" 500;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background-color: #f9fafe;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
p {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}
